html, body {
	min-height: 100%;
	overflow-y : auto;
	overflow-x: hidden;
}

body{
	margin: 0;
	padding: 0;
	border: none;
	position: relative;
	color: #000 ;
	background-color:  #fff;
	font-size : 16px !important;
	font-family: 'Open Sans', sans-serif !important;
}

.slides-container{
	margin-left: 0 !important;
}

.logo-class
{
	width: 1rem;
    height: 1rem;
	padding-left:0.5rem;
}

.logo-class-brand
{
	/*padding: 1%;*/
	width: 5rem;
    height: 5rem;
	background-color: #0696FF;
}

.header-class
{
	width :100vw;
	height: 1rem;
	background: linear-gradient(to right, #ffffff 0%, #0696FF 100%)
	/*background-color: #AA4444;*/
	/*color: #ffffff;*/
}

.header-below-class
{
	background-color: #0696FF !important;
}

.menuBtnColClass
{
	color: #0696FF !important;
}

.landingImgClass
{
	width: 60rem;
    height: 27rem;
}

.lndgSectionClass
{
	font-size: x-large;
    font-weight: bolder;
    color:  #0696FF;
}

.lndgSectionDetClass
{
	font-size: large;
}

.lndgSectionBtnClass
{
	color: #ffffff;
	background-color: #0696FF;
	width: 20rem;
	font-size:large;
}

.product-button-class
{
	color: #ffffff;
	background-color: #0696FF;
	margin-bottom: 1rem;
    font-size: small;
	margin-left:1rem
}

.small-font-class
{
	font-size:small;
}

.border-class
{
	border:1px solid black;
}

.customerHeaderImgClass
{
	width: 60%;
    height: 25rem;
    margin-left: 20%;
}

.prod-service-class
{
	margin-left: 3rem;
    width: 11rem;
    height: 13rem;
}

.top-header-font-class
{
	color: gray;
	font-size: 10px;
	
}

.product-support-class
{
	width: 3rem;
    height: 2.5rem;
    margin-left: 1rem;
}
	
.header-text-class
{
	font-family:bold;
	font-size: 24px;
	color: #ffffff;
}

.tag-line-class
{
	font-size:12px;
	color: #ffffff;
}

.background-white
{
	background-color: #ffffff !important;
}

.all-brands-class
{
	height: 10rem;
}

.persona-logo
{
	width: 22rem;
    height: 20rem;
}
.brand-in-list
{
	height:4rem;
	width: 4rem;
}
.ctaBtnclass
{
	color: #ffffff;
	background-color: #0696FF;
	width: 20rem;
	margin-left:40%;
	margin-top:1rem;
	font-size:large;
}
.sonicpadImgClass {
	width: 35%;
    height: 25rem;
    margin-left: 28%;
    margin-top: 4%;
  transition: width 4s, height 4s, transform 4s;
}

.sonicpadImgClass:hover
{
  -webkit-transform: rotate(10deg);
   transform: rotate(10deg);
}

.sonicImgClass
{
	width: 30rem;
    height: 45rem;
}

.paddingbottom5
{
	padding-bottom : 5rem;
}

.offerHeaderTextClass
{
	text-align:center;
    font-size: x-large;
    font-weight: bolder;
    color:  #0696FF;
}

.width100percent
{
	width:100%;
}

.quickLinkHeader
{
	font-size:1rem;
}

.quickLinkDesc
{
	font-size:.5rem;
}

.landImgClass
{
	width:30rem;
	height:30rem;
}

.landingEndSection
{
	margin-left:12rem;
	width:4rem;
	height:4rem;
	background-color:gray;
}


.colorWhiteClass
{
	color:#ffffff;
}

.padding-top-25
{
	padding-top:25%
}

.landingCaseClass
{
	width:58rem;
	height:30rem;
	text-align:center;
}
.user-earn
{
	width: 4rem;
    height: 4rem;
    margin-top: 2rem;
}  

.earn-class
{
	width: 40rem;
    height: 8rem;
    text-align: center;
}

 .user-earn:hover
 {
 	-webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
}

.enable-click:hover
{
	cursor: pointer;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}

.on-hover-class:hover
{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
	background-color:#efefef;
}

.hoverclass
{
	text-color:#000000;
	text-decoration:none;
}

.hoverclass:hover
{
	text-color:#ffffff;
	text-decoration: underline;
}

.landingConnectClass
{
	width:100rem;
	margin-left:45rem;
}

.width-30
{
	width:30rem;
}

.prodTypesSection
{
	margin-left: 1rem;
    width: 15rem;
    height: 20rem;
}

.prodFeaturesClass
{
	white-space: pre-wrap;
}

.coupon-class
{
	border: 1px solid #dadada;
	border-right : dotted 1px #dadada;
	height: 5rem;
}

.pop-brands-border
{
	border: 1px solid #dadada;
}

.brand-list
{	
    height: 32rem;
}

.offer-list
{
	height: 32rem;
}

.nav-logo
{
	height: 2rem;
    width: 2rem;
}

.coupon-logo
{
	height:2rem;
	width:3rem;
}

.trend-logo
{
	height: 4rem;
	width: 4rem;
	border-radius: 50%;
}

.pop-logo
{
	height: 24rem;
    align-content: center;
    width: fit-content;
}

.trend-tile-height
{
	height: 8rem;
}

.nav-item-class
{
	width: 20rem;
}

.padding-top-1
{
	padding-top: 1rem;
}

.padding-all-10
{
	padding-left :10rem;
	padding-right: 10rem;
	padding-bottom: 10rem;
}

.padding-all-1
{
	padding :1rem;
}

.padding-left-1
{
	padding-left : 1rem;
}
.padding-left-3
{
	padding-left: 3rem;
}

.padding-left-0
{
	padding-left: 0;
}

.padding-top-3
{
	padding-top: 3rem;
}

.padding-top20
{
	padding-top: 20%;
}

.padding-bottom-1
{
	padding-bottom: 1rem;
}

.text-center-class
{
	text-align:center;
}

.move-left-class
{
	margin-left: -1rem;
}

.margin-left-1
{
	margin-left: 1rem;
}

.margin-left-10
{
	margin-left:10rem;
}

.margin-left-2
{
	margin-left:2rem;
}

.margin-class-1
{
	margin:1rem;
}

.user_stories_icon
{
	width:100%;
	height: 28rem;
}

.brandstory-class
{
	 font-style: oblique;
    font-family: -webkit-pictograph;
}

.border-none
{
	border : none;
}

.width100percent
{
	width: 100%;
}

.box-shadow-class
{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.active-class
{
	border-bottom: 2px solid #0a1321 !important;
}

.smaller-font-class
{
	font-size: smaller;
}

.font-weight-600
{
	font-weight:600;
}

.font-weight-700
{
	font-weight:700;
}

.font-weight-800
{
	font-weight:800;
}
.font-size-larger
{
	font-size:larger;
}

.font-size-large
{
	font-size:large;
}

.font-size-xxxlarge
{
	font-size:xxx-large;
}

.font-size-xlarge
{
	font-size:x-large
}

.border-rad-class1
{
	border-radius:1rem;
}

.reco-logo
{
	height: 9rem;
} 

.pageBackground{
	/*background-image: url("https://images.pexels.com/photos/990818/pexels-photo-990818.jpeg?auto=compress&cs=tinysrgb&fit=crop&h=1200&w=800");*/
    
    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.placeCenter{
	padding-left:35rem;
	padding-top: 35rem;
}

.displayFull{
	height : 100rem;
}

.padding45{
	padding-left: 45%;
}

.displayRound
{
	text-align : center;
	border : 1px solid black;
	border-radius: 50%;
	color : black;

}

.brand-tile-height
{
	height:20rem;
}

.brand-actions
{
	padding-top: 10rem;
	text-align: center;
	
}

.brand-options
{
	height: 2rem;
	padding-right: 4rem;
}

.reco-brand-tile
{
	width: 20rem;
    height: 20rem;
}
   
.my-status-icon
{
	width: 4rem;
}

 .my-status-icon:hover
 {
 	-webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
}

.all-brands-page
{
	background-image: url("/demandgen/img/lightbrown.jpg");
    
    /* Full height */
    /*height: 100%;*/ 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.corousel-container
{
	height: 20rem;
    border: solid 1px  black;
    margin-bottom: 1rem;
}
	
.searchbar
{
	height: 4rem;
    border: 1px solid black;
    margin-bottom: 1rem;
}

.searchclass
{
	width: 100%;
	height: 100%
}

.set-height-reviews
{
	height: 20rem;
	overflow-y: auto;
	overflow-x: hidden;
}

.reviews-section
{
	font-size: large;
    color: #0696FF;
    font-weight: 600;
}

.brand-transition-class
{
	-webkit-animation: fadeIn 10s ease-in;
    animation: fadeIn 10s ease-in;
    
}

.load-summary-section
{
	border: 1px solid #dadada;
	min-height: 100%;/*20rem;*/
	transition: height 100s ease-in-out;
}

.my-activity-summary
{
	min-height: 20rem;
    transition: height 10s ease-out;
}

.brand-details-class
{
	min-height: 100rem;
}

.height-10-class
{
	height: 10rem;
}

.border-right-dotted
{
	border-right: 1px dotted #ddd;
}

.lbl-class
{
	width: 10rem;
	font-weight: normal;
 	font-size:14px
}

.onBoard-lbl-class
{
	width: 13rem;
	font-weight: normal;
 	font-size:14px
}

.width-40
{
	width: 40rem;
}

.width-20
{
	width: 20rem;
}

.width-27
{
	width: 27rem;
}

.brand-landing-class
{
padding-top: 25rem;
}

.margin-left10
{
margin-left:10rem;
}

.height-25-class
{
	height:25rem;
}

.height-45-class
{
	height:45rem;
}

.height-35-class
{
	height:35rem;
}

.padding-top-5
{
	padding-top:5rem;
}

.margin-bottom-1
{
	margin-bottom : 1rem;
}

.margin-top-1
{
	margin-top:1rem;
}

.margin-top-10percent
{
	margin-top:10%;
}

.show-selected-class
{
	background-color: #ddd;
}

.reward-class
{
	width:4rem;
	height:4rem;
}

.onBoard-lbl-forLogo
{
	font-weight: normal;
 	font-size:14px;
	width:26rem;
	text-align: left;
}

.landing-back-class
{
}

.about-us-class
{
	font-family: cursive;
    font-size: x-large;
}
