<section>
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 offerHeaderTextClass">Introducing the new SonicPad!</div>
	</div>
	<div class="row margin-left10">
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">	
			<div class="menuBtnColClass lndgSectionDetClass margin-top-10percent font-weight-800">The new SonicPad has finally arrived!<br>Here are only some of the highlights:</div>​
			<ul>
				<li>2x longer battery life​</li>
				<li>Improved WiFi for longer range​</li>
				<li>NFC sensor which facilitates a lot of use cases in the warehouse or shop floor</li>
			</ul>
		<div>
		<a href="downloads/Factsheet.pdf" download="SonicPad.pdf">
			<button class="product-button-class enable-click font-size-large border-rad-class1 width-30"> Download Detailed Factsheet</button>
		</a>
		</div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
			<img class="sonicImgClass"src="img/tablet-in-hand.png">
		</div>
	</div>
	<div class="row margin-left10">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			Video
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><img class="sonicpadImgClass"src="img/SonicPad-Floating.png"></div>
			<button class="product-button-class enable-click font-size-large border-rad-class1 width-30">Request More Information</button>
			<button class="product-button-class enable-click font-size-large border-rad-class1 width-30">Contact Sales</button>	
		</div>
	</div>
</section>