<section >
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 offerHeaderTextClass">Feedback from our Customers</div>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><img class="customerHeaderImgClass"src="img/happycustomers.jpg"></div>
	</div>
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
			<p class="text-center-class reviews-section">Title for the Review</p>
			<img src="img/customerAirport.jpg" class="user_stories_icon">
		
			<p class="brandstory-class">
				"The text aout the product goes here and there will be product desciption coming and the user who wrote the blog will come side and the text will come next to it and the user can choose to click on it to see all the descriptions for all the products in detail.The text aout the product goes here and there will be product desciption coming and the user who wrote the blog will come side."
			</p>
			<p>
			Customer Name
			</p>
			<p>
			Designation
			</p>
			<p>
			Location
			</p>
			<div>
				<video width="400" controls src="videos/airportVideo.mp4">
				  <p>Your browser doesn't support HTML5 video.</p>
				</video>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
			<p class="text-center-class reviews-section">Title for the Review</p>
			<img src="img/customerFactory.jpg" class="user_stories_icon">
		
			<p class="brandstory-class">
			"The text aout the product goes here and there will be product desciption coming and the user who wrote the blog will come side and the text will come next to it and the user can choose to click on it to see all the descriptions for all the products in detail."
			</p>
			<p>
			Customer Name
			</p>
			<p>
			Designation
			</p>
			<p>
			Location
			</p>			

		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
			<p class="text-center-class reviews-section">Title for the Review</p>
			<img src="img/customerLearning.jpg" class="user_stories_icon">
				<p class="brandstory-class">
				"The text aout the product goes here and there will be product desciption coming and the user who wrote the blog will come side and the text will come next to it and the user can choose to click on it to see all the descriptions for all the products in detail."
			</p>
			<p>
			Customer Name
			</p>
			<p>
			Designation
			</p>
			<p>
			Location
			</p>			
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
			<p class="text-center-class reviews-section">Title for the Review</p>
			<img src="img/customerOffice.jpg" class="user_stories_icon">
				<p class="brandstory-class">
				"The text aout the product goes here and there will be product desciption coming and the user who wrote the blog will come side and the text will come next to it and the user can choose to click on it to see all the descriptions for all the products in detail."
			</p>
			<p>
			Customer Name
			</p>
			<p>
			Designation
			</p>
			<p>
			Location
			</p>
		</div>
		<div>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
			<video width="400" controls src="videos/tabletvideo.mp4">
				  <p>Your browser doesn't support HTML5 video.</p>
				</video>
		</div>
	</div>
</section>