<section >
	<div class="row">Top Reviews</div>
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="row">
				<div class="col-md-12 margin-class-1 reviews-section">
					<div>
						<img src="img/user_icon.png" class="user_stories_icon">
						<p class="brandstory-class">
							"The text aout the product goes here and there will be product desciption coming and the user who wrote the blog will come side and the text will come next to it and the user can choose to click on it to see all the descriptions for all the products in detail."
							<a>Read More</a>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-class-1 reviews-section">
					<img src="img/user_icon.png" class="user_stories_icon">
						<p class="brandstory-class">
						"The text aout the product goes here and there will be product desciption coming and the user who wrote the blog will come side and the text will come next to it and the user can choose to click on it to see all the descriptions for all the products in detail."
						<a>Read More</a>
					</p>
				</div>
			</div>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-class-1 reviews-section">
					<img src="img/user_icon.png" class="user_stories_icon">
						<p class="brandstory-class">
						"The text aout the product goes here and there will be product desciption coming and the user who wrote the blog will come side and the text will come next to it and the user can choose to click on it to see all the descriptions for all the products in detail."
						<a>Read More</a>
					</p>
				</div>
			</div>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-class-1 reviews-section">
					<img src="img/user_icon.png" class="user_stories_icon">
						<p class="brandstory-class">
						"The text aout the product goes here and there will be product desciption coming and the user who wrote the blog will come side and the text will come next to it and the user can choose to click on it to see all the descriptions for all the products in detail."
						<a>Read More</a>
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row text-center-class padding-all-1">
		<a  href="" class="btn btn-link" ng-click="navigateToBrowseBrands()">All Reviews</a>
	</div>
</section>