<section >
<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<div class="offerHeaderTextClass">Our business areas and product lines</div>
	</div>
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="lndgSectionClass margin-class-1">PCs and Tablets</div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 on-hover-class">
			<div>The All New Sonic Pads</div>
			<img src="img/tablet-in-hand.png" class="prodTypesSection"/>
			<div class="prodFeaturesClass">The new SonicPad has finally arrived! Highlights:​&#10;2x longer battery life​&#10;Improved WiFi for longer range​&#10;NFC sensor which facilitates a lot of use cases in the warehouse or shop floor</div>
			
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 on-hover-class">
			<div>SonicBooks</div>
			<img src="img/book.jpg" class="prodTypesSection"/>
			<div class="prodFeaturesClass">Designed for Business​&#10;Reliable Performace - always​&#10;Accessible Power​&#10;Ideal for office use</div>			
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 on-hover-class">
			<div>Sonic Flexi</div>
			<img src="img/flexi.jpg" class="prodTypesSection"/>
		</div>		
	</div>
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="lndgSectionClass margin-class-1">Smart Devices</div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 on-hover-class">
			<div>Display Smart 4</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 on-hover-class">
			<div>Smart Clock</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 on-hover-class">
			<div>Smart Project</div>
		</div>
	</div>
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="lndgSectionClass margin-class-1">Data Centers</div>
		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
			<div>Business Apps</div>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
			<div>High Performance Computing</div>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
			<div>Databases</div>
		</div>
	</div>
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="lndgSectionClass margin-class-1">Services and Solutions</div>
		<div class="row">
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
			<div>Register your product</div>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
			<div>Check Repair Status</div>
		</div>
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
			<div>Drivers and Software</div>
		</div>
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
			<div>Services Parts</div>
		</div>
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
			<div>Premium care</div>
		</div>		
		</div>
	</div>
</div>
</section>