<section >
<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<div class="offerHeaderTextClass">Our business areas and product lines</div>
	</div>
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="lndgSectionClass margin-class-1">PCs and Tablets</div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 on-hover-class">
			<div class="margin-left-10 menuBtnColClass lndgSectionDetClass">The All New Sonic Pads!</div>
			<img src="img/tablet-in-hand.png" class="prodTypesSection margin-left-10"/>
			<div class="text-center-class menuBtnColClass">Highlights:</div>​
			<ul>
				<li>2x longer battery life​</li>
				<li>Improved WiFi for longer range​</li>
				<li>NFC sensor which facilitates a lot of use cases in the warehouse or shop floor</li>
			</ul>
			<button class="product-button-class enable-click"> Download Factsheet</button>
			<button class="product-button-class enable-click">View Demo</button>
			<img class="product-support-class enable-click" src="img/customerSupport.png" tooltip="Connect with Sales Rep"/>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 on-hover-class">
			<div class="margin-left-10 menuBtnColClass lndgSectionDetClass">Sonic Books</div>
			<img src="img/book.jpg" class="prodTypesSection margin-left-10"/>
			<div class="text-center-class menuBtnColClass">Highlights:</div>​
			<ul>
				<li>Designed for Business​​</li>
				<li>Reliable Performace - always​​</li>
				<li>Accessible Power​​</li>
				<li>Ideal for office use​</li>
			</ul>
			<button class="product-button-class enable-click"> Download Factsheet</button>
			<button class="product-button-class enable-click">View Demo</button>
			<img class="product-support-class enable-click" src="img/customerSupport.png" tooltip="Connect with Sales Rep"/>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 on-hover-class">
			<div class="margin-left-10 menuBtnColClass lndgSectionDetClass">Sonic Flexi</div>
			<img src="img/flexi.jpg" class="prodTypesSection margin-left-10"/>
			<div class="text-center-class menuBtnColClass">Highlights:</div>​
			<ul>
				<li>Designed for Creativity</li>
				<li>360 deg fold from laptop to tablet.</li>
				<li>Rapid Charge</li>
				<li>Finger print reader</li>
			</ul>
			<button class="product-button-class enable-click"> Download Factsheet</button>
			<button class="product-button-class enable-click">View Demo</button>
			<img class="product-support-class enable-click" src="img/customerSupport.png" tooltip="Connect with Sales Rep"/>
		</div>		
	</div>
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="lndgSectionClass margin-class-1">Smart Devices</div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 on-hover-class">
			<div class="margin-left-10 menuBtnColClass lndgSectionDetClass">Display Smart 4</div>
			<img src="img/monitor.jpg" class="prodTypesSection margin-left-10"/>
			<div class="text-center-class menuBtnColClass">Highlights:</div>​
			<ul>
				<li>2x longer battery life​</li>
				<li>Improved WiFi for longer range​</li>
				<li>NFC sensor which facilitates a lot of use cases in the warehouse or shop floor</li>
			</ul>
			<button class="product-button-class enable-click"> Download Factsheet</button>
			<button class="product-button-class enable-click">View Demo</button>
			<img class="product-support-class enable-click" src="img/customerSupport.png" tooltip="Connect with Sales Rep"/>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 on-hover-class">
			<div class="margin-left-10 menuBtnColClass lndgSectionDetClass">Smart Wear</div>
			<img src="img/smartclock.jpg" class="prodTypesSection margin-left-10"/>
			<div class="text-center-class menuBtnColClass">Highlights:</div>​
			<ul>
				<li>2x longer battery life​</li>
				<li>Improved WiFi for longer range​</li>
				<li>NFC sensor which facilitates a lot of use cases in the warehouse or shop floor</li>
			</ul>
			<button class="product-button-class enable-click"> Download Factsheet</button>
			<button class="product-button-class enable-click">View Demo</button>
			<img class="product-support-class enable-click" src="img/customerSupport.png" tooltip="Connect with Sales Rep"/>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 on-hover-class">
			<div class="margin-left-10 menuBtnColClass lndgSectionDetClass">Smart Project</div>
			<img src="img/projectors.jpg" class="prodTypesSection margin-left-10"/>
			<div class="text-center-class menuBtnColClass">Highlights:</div>​
			<ul>
				<li>2x longer battery life​</li>
				<li>Improved WiFi for longer range​</li>
				<li>NFC sensor which facilitates a lot of use cases in the warehouse or shop floor</li>
			</ul>
			<button class="product-button-class enable-click"> Download Factsheet</button>
			<button class="product-button-class enable-click">View Demo</button>
			<img class="product-support-class enable-click" src="img/customerSupport.png" tooltip="Connect with Sales Rep"/>
		</div>
	</div>
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="lndgSectionClass margin-class-1">Services and Solutions</div>
		<div class="row">
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 on-hover-class enable-click">
			<div class="menuBtnColClass">Register your product</div>
			<img src="img/registerProduct.jpg" class="prod-service-class"/>
			<div class="menuBtnColClass small-font-class">Keep track of all your sonic products</div>​
		</div>
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 on-hover-class enable-click">
			<div class="menuBtnColClass">Check Repair Status</div>
			<img src="img/repair.jpg" class="prod-service-class"/>
			<div class="menuBtnColClass small-font-class">Check repair status of your product</div>​
		</div>
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 on-hover-class enable-click">
			<div class="menuBtnColClass">Drivers and Software</div>
			<img src="img/drivers.jpg" class="prod-service-class"/>
			<div class="menuBtnColClass small-font-class">Enhance your experience with Sonic products</div>​
		</div>
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 on-hover-class enable-click">
			<div class="menuBtnColClass">Services Parts</div>
			<img src="img/services.jpg" class="prod-service-class"/>
			<div class="menuBtnColClass small-font-class">Purchase high performance replacement parts</div>​
		</div>
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 on-hover-class enable-click">
			<div class="menuBtnColClass">Premium care</div>
			<img src="img/premiumcare.jpg" class="prod-service-class"/>
			<div class="menuBtnColClass small-font-class">Excellent services options meeting all customer needs</div>​
		</div>		
		</div>
	</div>
</div>
</section>